@import '~bootstrap/scss/bootstrap.scss';

body{
    overflow-x: hidden;
}

#root{
    width: 100vw;
    height: 100%;
    background-color: #F6F9FF;
}

.App{
    display: flex;
}

.menu{
    width: calc(100% - 300px - 44px * 2);
}